# 1. Write a Python program to convert kilometers to miles?

In [1]:
km= int(input("Enter value in kilometers: "))
miles = km*(0.62137)
print(f" {km} kilometers is equal to: {miles} miles")

Enter value in kilometers:  10

 10 kilometers is equal to: 6.213699999999999 miles

# 2. Write a Python program to convert Celsius to Fahrenheit?

In [5]:
cel = int(input("Enter data in celcius: "))
faren =((9/5)*cel)+ 32
print(f" The temperature in celcius is: {cel}")
print(f" The temperature in fareheit is: {faren}")

Enter data in celcius:  0

 The temperature in celcius is: 0
 The temperature in fareheit is: 32.0

In [4]:
cel = int(input("Enter data in celcius: "))
faren =((9/5)*cel)+ 32
print(f" The temperature in celcius is: {cel}")
print(f" The temperature in fareheit is: {faren}")

Enter data in celcius:  42

 The temperature in celcius is: 42
 The temperature in fareheit is: 107.60000000000001

# 3. Write a Python program to display calendar?

In [7]:
import calendar

In [9]:
year = 2022
month = 11
print(calendar.month(year,month))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [10]:
year = 2022
print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 4. Write a Python program to solve quadratic equation?

In [14]:
a = 2
b = -11
c = 5 
print(f"The given quadratic equation is {a}*(x**2) + ({b}*x) + {c}")

D = (b**2) - 4*a*c
if D > 0 or D==0:
    root1 = (-b + (D**(1/2)))/(2*a)
    root2 = (-b - (D**(1/2)))/(2*a)
    print(f"The roots of the quadratic equation are: {root1}, {root2}")
else:
    print("Real roots does not exists")

The given quadratic equation is 2*(x**2) + (-11*x) + 5
The roots of the quadratic equation are: 5.0, 0.5

In [15]:
a = 1
b = -4
c = 4
print(f"The given quadratic equation is {a}*(x**2) + ({b}*x) + {c}")

D = (b**2) - 4*a*c
if D > 0 or D==0:
    root1 = (-b + (D**(1/2)))/(2*a)
    root2 = (-b - (D**(1/2)))/(2*a)
    print(f"The roots of the quadratic equation are: {root1}, {root2}")
else:
    print("Real roots does not exists")

The given quadratic equation is 1*(x**2) + (-4*x) + 4
The roots of the quadratic equation are: 2.0, 2.0

# 5. Write a Python program to swap two variables without third variable?

In [12]:
x= 100
y= 200
print(f"Before swapping, value of x: {x} and y: {y}")
x,y = y,x

print(f"After swapping, value of x: {x} and y: {y}")

Before swapping, value of x: 100 and y: 200
After swapping, value of x: 200 and y: 100

### End of Assignment

### Abhishek Mohan